:root {
    --main-orange: #F9A826;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    min-width: 300px;
    user-select: none;
}

nav {
    background-color:whitesmoke;
}

.navbar-nav .nav-link {
    color: #181818;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
}

.navbar-nav .nav-link:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(97, 127, 149, 0.2);
}

.navbar .navbar-brand {
    color: var(--main-orange);
    font-weight: 500;
    font-size: 2.2rem;
    font-family: 'DynaPuff', cursive;
    padding: 0.1rem;
}

.logo {
    margin-right: 0.3rem;
}

#about {
    padding: 3rem 0;
    background-color: rgb(97 127 149);
    color: whitesmoke;
}

h1 {
    font-family: 'DynaPuff', cursive;
    color: var(--main-orange);
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

.column {
    margin: 0.5rem;
}

.row {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
}

.title {
    font-size: 1.3rem;
}

.about-text {
    font-size: 1.1rem;
    font-weight: 300;
}

#info {
    background-color: whitesmoke;
    padding-bottom: 2rem;
}

.img-fluid {
    max-height: 80px;
    display: block;
    margin: 1rem auto;
}

#order {
    padding-bottom: 3rem;
    background-color: #ffcf83;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    padding: 0;
    margin: 0.5rem;
    min-width: 260px;
}

.price {
    background-color: #ececec;
    width: fit-content;
    padding: 0 1rem;
    border-radius: 1rem;
}

h3 {
    padding-bottom: 3.5rem;
    font-weight: 200;
}

.cart {
    border: 2px solid rgba(0, 0, 0, 0.404);
    background-color: rgba(255, 255, 255, 0.87);
    padding: .4rem 1rem;
    margin: 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.44rem;
    z-index: 2;
}

.cart:hover {
    cursor: pointer;
    background-color: white;
}

.product {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.product-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.product p,
.product i {
    margin: 0 0.5rem;
    display: inline;
}

.total {
    background-color: #d3d3d3;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.1rem;
}

.delete:hover {
    cursor: pointer;
}

.waves {
    margin-top: -2px;
}

.cart-items {
    position: absolute;
    top: -18px;
    right: -10px;
    background-color: #bb2222;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
    color: whitesmoke;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    background-color: rgb(97 127 149);
    background: linear-gradient(180deg, rgba(97, 127, 149, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: whitesmoke;
}

form {
    max-width: 650px;
    width: 70%;
    margin: 0 auto;
}

iframe {
    padding: 1rem;
    border-radius: 35px;
}

footer {
    text-align: center;
    padding: 7rem 3rem 3rem;
}